$black-color:  #222222;
$purple-color: #F1E4E6;
$pink-color: #F16D7F;
$light-pink-color: #F8F3F4;
$white-color: #FFFFFF;
$light-grey-color: #9F9F9F;
$grey-color: #5D5D5D;
$light-blue-color: #F7F7F7;
$blue-color: #EAEAEA;


