.fetured__item-pic {
    position: relative;
}

.fetured__item-img {
    width: 100%;
    height: 100%;
}

.featured__item-add {
    position: absolute;
    background-color: transparent;
    width: 138px;
    height: 43px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    color: $white-color;
    left: 110px;
    top: 180px;
    visibility: hidden;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.fetured__title {
    margin-top: 97px;
    text-align: center;
}

.fetured__title-text {
    font-size: 30px;
    line-height: 36px;
    color: $black-color;
}

.fetured__title-info {
    font-size: 14px;
    line-height: 17px;
    color: $light-grey-color;
}

.fetured__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    justify-content: space-between;
}

.fetured__item {
    margin-top: 30px;
}

.fetured__item-pic:hover .fetured__item-img {
    filter: brightness(55%);
}

.fetured__item-pic:hover .featured__item-add {
    visibility: visible;
}

.fetured__item-text {
    margin-top: 0px;
    min-width: 330px;
    min-height: 162px;
    background-color: $white-color;
    padding-left: 17px;
    padding-top: 25px;
}

.fetured__item-title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: $black-color;
    padding-bottom: 12px;
}

.fetured__item-info {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $grey-color;
    padding-bottom: 18px;
    width: 314px;
    height: 51px;
}

.fetured__item-price {
    font-size: 16px;
    line-height: 19px;
    color: $pink-color;
}

.fetured__all {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: $pink-color;
    border: 1px solid $pink-color;
    width: 211px;
    height: 47px;
    margin: 0 auto;
    margin-top: 63px;
    background: $white-color;
}

.fetured__pagination {
    margin: 0 auto;
    margin-top: 48px;
}

.pagination__item {
    border: none;
}

.product__fetured {
    margin: 129px 0px 128px 0px;
}

.product__fetured-item {
    width: 32%;
}


@include tablet {

    .fetured__title {
        margin-top: 154px;
    }

    .fetured__list {
        margin-top: 55px;
    }

    .product__fetured-item,
    .fetured__item {
        margin-top: 17px;
        min-width: 49%;
    }

    .product__fetured-item:last-child {
        display: none;
    }

}


@include mobile {

    .fetured__title {
        margin-top: 64px;
    }

    .fetured__list {
        margin-top: 55px;
    }

    .fetured__item {
        margin-top: 17px;
        min-width: 100%;
    }

    .fetured__all {
        margin-top: 41px;
    }

    .product__fetured-item:last-child {
        display: none;
    }

}