.header {
    background-color: $black-color;
    height: 75px;
    position: relative;
}

.header__container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__search-logo {
    margin-right: 41px;
}

.header__search-loupe {
    background-color: transparent;
    border: none;
    padding-top: 12px;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__menu-button {
    background-color: transparent;
    border: none;
}

.header__menu-item:not(:last-child) {
    margin-right: 33px;
}

.header__navigation {
    background-color: $white-color;
    position: absolute;
    width: 230px;
    height: 764px;
    left: 1370px;
}

.header__navigation-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $black-color;
    margin-top: 37px;
    margin-left: 31px;
    margin-bottom: 24px;
}


.navigation__categorie-name {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    color: $pink-color;
}

.header__havigation-categorie {
    margin-left: 33px;
}

.havigation-sublist-item {
    margin-top: 12px;
    font-size: 14px;
    line-height: 17px;
    color: $light-grey-color;
    margin-left: 11px;
    margin-bottom: 11px;
}

.navigation-sublist-link {
    text-decoration: none;
    color: $light-grey-color;
}


@include tablet {

    .header__container {
        width: 92%;
    }

}


@include mobile {

    .header__menu-item:not(:first-child) {
        display: none;
    }
    
    .header__menu-item:first-child {
        margin-right: 0;
    }
    
}