.stock__list {
    display: flex;
    margin-top: 63px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stock__item-link {
    text-decoration-line: none;
}

.stock__item {
    width: 360px;
    min-height: 260px;
    display: flex;
}

.stock__item-content {
    margin: auto;
}

.stock__item-name {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $white-color;
}

.stock__item-info {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $pink-color;
}

.stock__item:first-child {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/stock_woman.png);
    background-color: $grey-color;
}

.stock__item:nth-child(2) {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/stock_man.png);
    background-color: $grey-color;
}

.stock__item:nth-child(3) {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/stock_kids.png);
    background-color: $grey-color;
}

.stock__item:last-child {
    width: 100%;
    min-height: 180px;
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/stock_other.png);
    background-color: $grey-color;
    margin-top: 30px;
}


@include tablet {

    .stock__list {
        margin-top: 19px;
    }

    .stock__item {
        width: 32%;
        min-height: 167px;
        background-size: cover;
        background-position: left;
    }

    .stock__item:last-child{
        margin-top: 19px;
        min-height: 116px;
    }

}

@include mobile {

    .stock__list {
        margin-top: 32px;
    }

    .stock__item {
        width: 100%;
        min-height: 247px;
        margin-top: 32px;
        background-size: cover;
        background-position: left;
    }

    .stock__item:last-child {
        min-height: 111px;
    }
    
}